[submodule "vim/colors/molokai"]
	path = vim/colors/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/plugins/lightline.vim"]
	path = vim/plugins/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/plugins/supertab"]
	path = vim/plugins/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/plugins/nerdcommenter"]
	path = vim/plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/plugins/ctrlp.vim"]
	path = vim/plugins/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "powerline-shell"]
	path = powerline-shell
	url = https://github.com/milkbikis/powerline-shell
[submodule "urxvt-perls"]
	path = urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "vim/plugins/vim-nerdtree-tabs"]
	path = vim/plugins/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim/plugins/vim-buffergator"]
	path = vim/plugins/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vim/plugins/nerdtree"]
	path = vim/plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
