[submodule "vim/colors/molokai"]
	path = vim/colors/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/plugins/lightline.vim"]
	path = vim/plugins/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/plugins/vim-pathogen"]
	path = vim/plugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/plugins/supertab"]
	path = vim/plugins/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/plugins/nerdcommenter"]
	path = vim/plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/plugins/nerdtree"]
	path = vim/plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/plugins/ctrlp.vim"]
	path = vim/plugins/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "powerline-shell"]
	path = powerline-shell
	url = https://github.com/milkbikis/powerline-shell
