Host *
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519
  #IdentityFile ~/.ssh/id_rsa

Host firefart
  HostName firefart.firefart.at
  User root

Host bugbounty
  HostName bugbounty.firefart.at
  User root

Host work
  HostName work.firefart.at
  User root

Host work2
  HostName work2.firefart.at
  User root

Host wpvulndb
  HostName ssh.wpvulndb.com
  User root

Host wpscan
  HostName ssh.wpscan.io
  User root

Host pfsense
  HostName 10.0.0.1
  User root

Host switch
  HostName 10.0.0.2
  User admin

Host ap
  HostName 10.0.0.3
  User admin

Host cloudkey
  HostName 10.0.0.4
  User ubnt

Host nas
  HostName 10.0.0.5
  User admin

Host 192.168.*
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  LogLevel=quiet
